<form (submit)="guardarCambios()">
    <mat-form-field appearance="outline">
        <mat-label class="campo">Nombre</mat-label>
        <input matInput [formControl]="form.controls.nombre" />
        <mat-error>{{obtenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="campo" appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput [formControl]="form.controls.apellidos" />
        <mat-error>{{obtenerErrorCampoApellidos()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label class="campo">Nombre Corto</mat-label>
        <input matInput [formControl]="form.controls.nombreCorto" />
        <mat-error>{{obtenerErrorCampoNombreCorto()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label class="campo">Titulación</mat-label>
        <input matInput [formControl]="form.controls.titulacion" />
        <mat-error>{{obtenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label class="campo">E-Mail</mat-label>
        <input matInput [formControl]="form.controls.email" />
        <mat-error>{{obtenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label class="campo">Telefono</mat-label>
        <input matInput [formControl]="form.controls.telefono" />
        <mat-error>{{obtenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="form.controls.fechaNacimiento" />
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error>{{obtenerErrorCampoFechaNacimiento()}}</mat-error>
    </mat-form-field>

    <div>
        <app-input-img 
        [urlImagenActual]="modelo?.foto"
        titulo="Foto del Actor" (archivoSeleccionado)="archivoSeleccionado($event)"></app-input-img>
    </div>



<div class="contenedor-botones">
<button mat-flat-button type="submit"
    [disabled]="form.invalid">Guardar cambios</button>
<a mat-stroked-button routerLink="/entrenadores">Cancelar</a>
</div>
</form>
