<mat-toolbar>
    <span>
        <a routerLink="" mat-button>
            <mat-icon>sports-basketball</mat-icon> Nuestro CLUB
        </a>
    </span>

    <div>
        <a mat-button routerLink="equipos">Equipos</a>
    </div>

    <div>
        <a mat-button routerLink="jugadores">Jugadores</a>
    </div>

    <div>
        <a mat-button routerLink="entrenadores">Entrenadores</a>
    </div>

    <div>
        <a mat-button routerLink="biblioteca">Colección de tareas</a>
    </div>
</mat-toolbar>