<div class="team-container">
    <form (submit)="guardarCambios()" [formGroup]="form">
        
        <!-- Card 1: Foto y Datos -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Foto y Datos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="foto-y-datos" #campoFoto>
                    <div class="campo-foto">
                        <app-input-img [urlImagenActual]="modelo?.foto" titulo=""
                            (archivoSeleccionado)="archivoSeleccionado($event)" [anchoFoto]="300" [altoFoto]="200"
                            [cambiarBoton]=true>
                        </app-input-img>
                    </div>

                    <div class="datos-tarea">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput [formControl]="form.controls.nombre" />
                        </mat-form-field>
                        <div class="enlinea">
                        <mat-form-field appearance="outline">
                            <mat-label>Version</mat-label>
                            <input step="0.1" min="0" matInput [formControl]="form.controls.version" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Tarea Origen</mat-label>
                            <input matInput [formControl]="form.controls.tareaPadre" />
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Estado</mat-label>
                            <select matNativeControl required [formControl]="form.controls.estado">
                                <option label="--selecciona opcion--"></option>
                                <option value="Desarrollo">Desarrollo</option>
                                <option value="Beta">Beta</option>
                                <option value="Produccion">Producción</option>
                                <option value="Mantenimiento">Mantenimiento</option>
                                <option value="Obsoleta">Obsoleta</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="enlinea">
                        <mat-form-field>
                            <mat-label>Vigencia</mat-label>
                            <mat-date-range-input [rangePicker]="picker" [formGroup]="form">
                                <input matStartDate placeholder="Inicio" [formControl]="form.controls.fechaInicio" />
                                <input matEndDate placeholder="Fin" [formControl]="form.controls.fechaFin" />
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Entrenador</mat-label>
                            <mat-select [formControl]="form.controls.entrenadorId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let entrenador of listaEntrenadores" [value]="entrenador.id">
                                    {{ entrenador.nombre }} - {{ entrenador.apellidos }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Card 2: Objetivos -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Objetivos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="objetivos">
                    <mat-form-field appearance="outline">
                        <mat-label>Objetivo Principal</mat-label>
                        <input matInput [formControl]="form.controls.objetivoPrincipal" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Objetivo Secundario</mat-label>
                        <input matInput [formControl]="form.controls.objetivoSecundario" />
                    </mat-form-field>


                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Descripción y Notas</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="objetivos">
                    <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput #messag1 placeholder="Descripción de la tarea" rows="4" cols="50" 
                                  [formControl]="form.controls.descripcion"></textarea>
                        <mat-hint align="start">Máximo 500 caracteres</mat-hint>
                        <mat-hint align="end">{{messag1.value.length}}</mat-hint>
                      </mat-form-field>
                
                      <mat-form-field appearance="outline">
                        <mat-label>Notas</mat-label>
                        <textarea matInput #messag2 placeholder="incidencias con la tarea pon fecha e incidencia" rows="4" cols="50" 
                                  [formControl]="form.controls.comentario"></textarea>
                        <mat-hint align="start">Máximo 500 caracteres</mat-hint>
                        <mat-hint align="end">{{messag2.value.length}}</mat-hint>
                      </mat-form-field>      
                

                    </div>



            </mat-card-content>
        </mat-card>



        <!-- Card 3: Rangos -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Rangos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="controles">
                    <div class="rango-jugadores">
                        <p>Jugadores</p>
                        <ngx-slider [value]="form.controls.numeroMin.value!"
                            [highValue]="form.controls.numeroMax.value!" [options]="rangoJugadores"
                            (valueChange)="onMinValueChange($event)" (highValueChange)="onMaxValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-tiempo">
                        <p>Tiempo</p>
                        <ngx-slider [value]="form.controls.tiempoMin.value!"
                            [highValue]="form.controls.tiempoMax.value!" [options]="rangoTiempo"
                            (valueChange)="onMinTiempoValueChange($event)"
                            (highValueChange)="onMaxTiempoValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-nivelfisico">
                        <p>Carg.Fisica</p>
                        <ngx-slider [value]="form.controls.nivelFisico.value!" [options]="rangoCien"
                            (valueChange)="onNivelFisicoValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-ataque">
                        <p>Ataque</p>
                        <ngx-slider [value]="form.controls.ataque.value!" [options]="rangoCien"
                            (valueChange)="onAtaqueValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-defensa">
                        <p>Defensa</p>
                        <ngx-slider [value]="form.controls.defensa.value!" [options]="rangoCien"
                            (valueChange)="onDefensaValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-tecnico-individual">
                        <p>Tec.Indiv.</p>
                        <ngx-slider [value]="form.controls.tecnicoIndividual.value!" [options]="rangoCien"
                            (valueChange)="onTecnicoIndividualValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-tactico-individual">
                        <p>Tac.Indiv.</p>
                        <ngx-slider [value]="form.controls.tacticoIndividual.value!" [options]="rangoCien"
                            (valueChange)="onTacticoIndividualValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-tecnico-colectivo">
                        <p>Tac.Col.</p>
                        <ngx-slider [value]="form.controls.tecnicoColectivo.value!" [options]="rangoCien"
                            (valueChange)="onTecnicoColectivoValueChange($event)">
                        </ngx-slider>
                    </div>

                    <div class="rango-tactico-colectivo">
                        <p>Tec.Col.</p>
                        <ngx-slider [value]="form.controls.tacticoColectivo.value!" [options]="rangoCien"
                            (valueChange)="onTacticoColectivoValueChange($event)">
                        </ngx-slider>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="seleccion-multiple">
            <div>
            <h4>Seleccione Las Categorías</h4>

            <app-selector-multiple [Seleccionados]="categoriasSeleccionadas" [NoSeleccionados]="categoriasNoSeleccionadas"></app-selector-multiple>
            </div>
            <div>
        <h4>Seleccione los Elementos Técnicos</h4>
    
        <app-selector-multiple [Seleccionados]="elementosTecnicosSeleccionados" [NoSeleccionados]="elementosTecnicosNoSeleccionados"></app-selector-multiple>
    </div>
    
    </div>


        <!-- Card 4: Botones -->
        <div class="contenedor-botones">
            <button type="submit" mat-flat-button >Guardar Cambios</button>
            <a mat-stroked-button routerLink="/tareas">
                Cancelar
            </a>
        </div>
    </form>
</div>
