<app-listado-generico [listado]="equipos">
    <ng-container contenido>
      <div class="equipos-contenedor">
        @for (equipo of equipos; track $index) {
        <div class="equipo-contenedor">
          <a [routerLink]="['/equipos/editar/', equipo.id]">
            @if(equipo.foto){
            <img [src]="equipo.foto || 'default.jpg'" 
            width="300" 
            style="cursor: pointer;" 
            alt="{{equipo.nombre}}" />
            } @else {
            <img srcc="default.jpg" width="300" />
            }
          </a>
          <p>
            <a [routerLink]="['/equipo', equipo.id]">{{equipo.nombre}}</a>
          </p>
          <app-autorizado rol="admin">
            <ng-container autorizado>
              <div>
                <a mat-flat-button [routerLink]="['/equipos/editar/', equipo.id]">Editar</a>
                <button mat-flat-button type="button" color="warn" [swal]="{title: 'Confirmación', 
                    text: '¿Deseas borrar el registro?', showCancelButton: true}"
                  (confirm)="borrar(equipo.id)">Borrar</button>
              </div>
            </ng-container>
          </app-autorizado>
  
        </div>
        }
      </div>
    </ng-container>
  </app-listado-generico>