<form (submit)="guardarCambios()" [formGroup]="form">

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="form.controls.nombre" />
        <mat-error></mat-error>
    </mat-form-field>

    <mat-radio-group [formControl]="form.controls.genero" aria-label="Select an option">
        <mat-radio-button value="Masculino">Masculino</mat-radio-button>
        <mat-radio-button value="Femenino">Femenino</mat-radio-button>
      </mat-radio-group>

    <mat-form-field appearance="outline">
        <mat-label>Edad Máxima</mat-label>
        <input type="number" matInput [formControl]="form.controls.edadMaxima" />
        <mat-error></mat-error>
    </mat-form-field>

    <div class="contenedor-botones">
        <button mat-flat-button type="submit"
            [disabled]="form.invalid">Guardar cambios</button>
        <a mat-stroked-button routerLink="/categorias">Cancelar</a>
        </div>
        
</form>
